<div id="content">
  <h1>SpreeConf 2013 Lightning Talks</h1>

  <%= content_tag :div, flash[:notice], :class => 'notice' if flash[:notice] %>
  <%= content_tag :div, flash[:error],  :class => 'error'  if flash[:error] %>

  <p>
    IMPORTANT: The duration of your talk <em>includes</em> setup time -- if you pick a 1 minute slot, you
    shouldn't count on showing any slides. Also, we reserve the right to change up the order of lightning 
    talks to make the best use of the available time.
  </p>

  <ol>
    <% @signups.each do |signup| %>
      <li>
        <%= signup.name %> -
        <i><%= signup.title %></i>
      </li>
    <% end %>

    <li>
      <%= form_for Signup.new do |f| %>
        <%= f.label :name, 'Your Name' %>
        <%= f.text_field :name %>

        <%= f.label :title, 'Topic or Title' %>
        <%= f.text_field :title %>

        <%= f.label :duration %>
        <%= f.hidden_field :duration, :value => 5 %>

        <button type="submit">Sign up!</button>
      <% end %>
    </li>
  </ol>
  <a href="https://github.com/rubycentral/lightning-talks">This app is Open Source!</a>
</div>
