<div id="content">
  <h1><%= t(:title)%></h1>

  <%= content_tag :div, flash[:notice], :class => 'notice' if flash[:notice] %>
  <%= content_tag :div, flash[:error],  :class => 'error'  if flash[:error] %>

  <p>
    Thank you for your interest in speaking at the SpreeConf Lightning Talks session. Add your name and the topic you'd like to speak about to this list. Talks are limited to five minutes each. We'll notify you the week prior to SpreeConf if your talk has been selected. 
  </p>

  <ol>
    <% @signups.each do |signup| %>
      <li>
        <%= signup.name %> -
        <i><%= signup.title %></i>
      </li>
    <% end %>

    <li>
      <%= form_for Signup.new do |f| %>
        <%= f.label :name, 'Your Name' %>
        <%= f.text_field :name %>
        <%= f.label :email, 'Email (hidden)' %>
        <%= f.text_field :email %>
        <%= f.label :twitter, 'Twitter Handle' %>
        <%= f.text_field :twitter %>
        <%= f.label :title, 'Topic or Title' %>
        <%= f.text_field :title %>
        <%= f.hidden_field :duration, :value => 5 %>

        <button type="submit">Sign up!</button>
      <% end %>
    </li>
  </ol>
  <br>
  <a href="https://github.com/rubycentral/lightning-talks">This app is Open Source!</a>
</div>
